<div class="col mb-4">
    <div class="card h-100">
      <img [src]="heroes.img" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{heroes.nombre}}</h5>
        <p class="card-text">{{heroes.bio}}</p>
        <p class="text-muted"><small class="text-muted">Fecha de aparicion: {{heroes.aparicion}}</small></p>
        
        <div class="d-grid gap-2">
          <button type="button" class="btn btn-primary btn-outline" (click)="verHeroe()">Ver más</button>
        </div>

        <!-- <div class="d-grid gap-2">
          <button type="button" class="btn btn-primary btn-outline" [routerLink]="['/heroe', i]">Ver más</button>
        </div> -->
      </div>
    </div>
</div>